.grid-container {
    display: grid;
    grid-template-columns: 1fr 25fr 1fr;
    grid-template-rows: auto auto;
    background-color: #DDD0C8;
    font-family: 'DM Sans', sans-serif;
}

.main {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    /* float: left; */

    min-height: calc(100vh - 166px - 53px - 121px);
    /* viewport height- header- footer- margin top and bottom */
    /* margin: 0px 90px 0px 90px; */
}

h4 {
    font-size: 450%;

}

.name-main {
    background-color: #DDD0C8;
}

.name {
    color: #323232;
}

img {
    border-radius: 30%;
    width: 100%;
    border: 0.1vh solid #323232;

}

.name-main {
    margin-top: -4vh;
    display: flex;
    align-items: center;
    height: 100vh;
}

.name-prof {
    flex: 1;
    margin-left: 40vh;
}

.picture {
    margin-right: 40vh;
}

.prof {
    font-size: 150%;
    margin-top: -5vw;
    color: #323232;
}



.who {
    display: flex;
    align-items: center;
    background-color: #66615A;
    color: white;
    height: 50vw;
}

.picture_two {
    flex: 1;
    width: 50%;
    margin-left: 30vh;
    border: 0.1vh solid #323232;

}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 12vh;
}

.education-section,
.who-is-bulbul {
    margin-bottom: 10px;
    margin-right: 70vh;
    margin-left: -15vh;
    width: 100%;
    margin-top: 3vh;
    line-height: 3.5vh;
}

.head-skill {
    margin-top: 9vh;
}

.heading-skills {
    color: #323232;
    text-align: center;
}

.skills-section {
    background-color: #DDD0C8;
    height: 90vh;

}

.skills-list {
    display: flex;
    margin-top: 10vh;
    flex-wrap: wrap;

}


.right-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    line-height: 3vh;
    font-size: large;
    align-items: center;
    margin-right: 40vh;
    color: #323232;
}

.left-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    line-height: 3vh;
    font-size: large;
    align-items: center;
    margin-left: 40vh;
    color: #323232;
}

.projects {
    background-color: #66615A;
    color: white;
    height: 100vh;
}

.head-projects {
    color: white;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vh;
    margin-top: 6vh;

}

.project-card {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #323232;
    background-color: #DDD0C8;
    margin-right: 5vh;
    margin-left: 5vh;
    height: 100%;
    line-height: 3vh;
    padding: 2vh;
}

.card-content h3 {
    margin-top: 2vh;
}

.experience {
    height: 100vh;
    align-items: center;

}

.exp-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh;
    margin-top: 6vh;
}

.head-experience {
    color: #323232;
    text-align: center;
}

.exp-card {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: #66615A;
    margin-right: 7vh;
    margin-left: 7vh;
    height: 100%;
    line-height: 3vh;
    padding: 4vh;
    height: 50vh;
}

.footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #66615A;
    color: white;
    align-items: center;
    justify-content: center;
}

.connect {
    text-align: center;
    justify-content: center;
}

.links {
    margin-top: 20px;
    color: white;
}

.link {
    color: white;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.link1 {
    color: #323232
}


